<div class= "intro">
	<h1 class="center ">Welcom to Co <b>No</b>&nbsp;<span class="fa fa-tint"	></span></h1>
<%= button_to('Sign Up!', '/signup',method: "get", class:'btn-danger btn-index')  %>

	<!-- btn-danger -->
</div>
<div class= "container">
  <div class="info_container">
        <ul class="info clearfix">
          <li class="slide-3">
            <strong>Who I Am</strong>
          Chillwave letterpress green juice selvage listicle. VHS authentic selfies, polaroid pabst PBR&amp;B venmo direct trade cray cred roof party pinterest jean shorts.
          </li>
          <li >
            <strong>What I Do</strong>
          3 wolf moon roof party cred chia, hammock scenester whatever master cleanse fanny pack readymade. IPhone VHS listicle fanny pack.
          </li>
          <li >
            <strong>Where I Do It</strong>
          Jean shorts locavore tacos normcore fap next level. Williamsburg bushwick yr polaroid, roof party gentrify asymmetrical.
          </li>
        </ul>
      </div>
     </div>