<div class= "intro">
	<h1 class="center ">Welcom to Co <b>No</b>&nbsp;<span class="fa fa-tint"	></span></h1>
  <%= button_to('Sign Up!', '/signup',method: "get", class:'btn-danger btn-index')  %>
</div>
<div class= "container">
  <div class="info_container">
        <ul class="info clearfix">
          <li class="slide-3">
            <strong>Who I Am</strong>
          I am a cloud based, note taking app for programers. The best way to store your code sinppets. 
          </li>
          <li >
            <strong>What I Do</strong>
          I allows users to organize their notes into folders and write them using markdown.
          </li>
          <li >
            <strong>Why I Do It</strong>
          Notes can be saved and code blocks will display with syntax highlighting.
        </ul>
      </div>
     </div>