/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome

 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "pygments";

.center{
	text-align: center;
}
.navbar{
	margin: -5px;
}

.center-head{
 	margin-bottom: 20px;
 	
 }
 .align-center{
 	text-align: center;
 }

.main-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

 #identicalForm, .form-center{
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
 }
 .check{
 	color: #fff;

 
 }
 .caret{
 	color: #de5a51;
 }
 .text-area{
	height: 600px;
}
.col-md-12{
	width: 1010px;
	height: 300px;
	overflow: scroll;
}
.note-section{
	height: 5000 !important;
	overflow: scroll  !important;
}
#note-div{
	margin-top: 40px;
	position: relative;
    height: auto !important;
	overflow: scroll  !important;
	
	overflow-y: auto;
}
.left-nav{
	top: 64;
	position: fixed;
	height: 1400px;
	overflow: scroll  !important;
		
		}

		.nav-header{
			margin-top: 40px;
		background-color:	 #263238;
        padding: 20px;
        padding-top: 30px;
        height: 251px;
        color: whitesmoke;
		}
.buffer{
	height: 60px;
	
}



